# In JavaScript actions, `dist/` is a special directory. When you reference
# an action with the `uses:` property, `dist/index.js` is the code that will be
# run. For this project, the `dist/index.js` file is transpiled from other
# source files. This workflow ensures the `dist/` directory contains the
# expected transpiled code.
#
# If this workflow is run from a feature branch, it will act as an additional CI
# check and fail if the checked-in `dist/` directory does not match what is
# expected from the build.
name: Check Transpiled JavaScript

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - dev
  workflow_call:
    inputs:
      dist_path:
        type: string
        description: "The path to check for changes"
        default: "dist"
    outputs:
      has_incompatible_changes: 
        description: "Indicates if there are incompatible changes"
        value: ${{ jobs.check-dist.outputs.has_incompatible_changes }}
      can_publish: 
        description: "Indicates if the changes can be published"
        value: ${{ jobs.check-dist.outputs.can_publish }}

permissions:
  contents: read

jobs:
  check-dist:
    name: Check dist/
    runs-on: ubuntu-latest

    outputs:
      has_incompatible_changes: ${{ steps.diff.outputs.has_incompatible_changes }}
      can_publish: ${{ steps.diff.outputs.can_publish }}

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: npm

      - name: Install Dependencies
        id: install
        run: npm ci

      - name: Build dist directory
        id: build
        run: npm run build

      # This will fail the workflow if the `dist/` directory is different than
      # expected.
      - name: Compare Directories
        id: diff
        run: |
          dist_path='${{ inputs.dist_path || 'dist' }}'
          if [ ! -d $dist_path/ ]; then
            echo "has_incompatible_changes=true" >> $GITHUB_OUTPUT
            echo "can_publish=false" >> $GITHUB_OUTPUT
            echo "Expected dist/ directory does not exist.  See status below:"
            ls -la ./
            exit 1
          fi
          if [ "$(git diff --ignore-space-at-eol --text $dist_path/ | wc -l)" -gt "0" ]; then
            echo "has_incompatible_changes=true" >> $GITHUB_OUTPUT
            echo "can_publish=false" >> $GITHUB_OUTPUT
            echo "Detected uncommitted changes after build. See status below:"
            # git diff --ignore-space-at-eol --text $dist_path/
            exit 1
          fi
          echo "has_incompatible_changes=false" >> $GITHUB_OUTPUT
          echo "can_publish=true" >> $GITHUB_OUTPUT

      # If `dist/` was different than expected, upload the expected version as a
      # workflow artifact.
      - if: ${{ failure() && steps.diff.outcome == 'failure' }}
        name: Upload Artifact
        id: upload
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.dist_path || 'dist' }}
          path: ${{ inputs.dist_path || 'dist' }}/
